/* formulario */
.header {
    color: black;
    font-size: 27px;
    padding: 20px;
  }
  
  .bigicon {
    font-size: 35px;
    color: black;
  }
  
  #botonEnviar {
    margin-bottom: 30px;
  }
  
  .gridFormulario {
    display: flex;
    display: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: row;
  
  }
  

#producto-contenedor {
    display: grid;
    margin: 90px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 


.card .card-image .card-title {
    color: dodgerblue;
    position: unset;
}  

.card{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 25px 0px;
}

/* Modal */
.modal-container {
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    background-color: transparent;
    bottom: 0;
    right: 0;
    height: 100vh;
    visibility: hidden;
    transition: opacity 0.3s ease;
    border-radius: 10px ;
    z-index: 100;
  } 
  
  /* hacer visible el modal  */
  .modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  
  .modal-carrito{
    width: 20rem;
    height: 100vh;
    transition: 0.5s;
    background-color: rgb(211, 211, 211);
    position:  relative
  }
  
  
  .productoEnCarrito {
    border-left: 5px solid rgb(4, 5, 5);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .boton-eliminar {
    background-color: rgb(211, 211, 211);
    color: rgb(4, 5, 5);
    border: none;
    font-size: 20px;
  }
  
  
    
  